body {
    font-family: sans-serif;
    background-color: #eee;
}

.card {
    background-color: #fff;
    width: 200px;
    border-radius: 20px;
    padding: 200px;
}

.card-img {
    border-radius: 11px;
}

.card-title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.card-sub {
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
}